@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@charset "UTF-8";

// Intro Text
.intro-text {
  $intro-text-width: 60%;

  margin-bottom: 5em;
  margin-top: 4em;
  text-align: center;

  h2 {
    font-family: $serif;
    font-weight: 800;
    margin-bottom: .3em;

    @include media($large-screen) {
      font-size: 3em;
      margin-bottom: .4em;
    }
  }

  h3 {
    background: $base-accent-color;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase;

    @include media($large-screen) {
      margin-bottom: 3.3em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.35em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }
  }

  p {
    margin: auto;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }


  }

  .attribution {
    $serif-2: 'Merriweather', serif;
    color: transparentize($base-font-color, .6);
    font-family: $serif-2;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }
}


// Center Nav bar
.centered-navigation {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
      height: 32px;
      width: 32px;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;


      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: .6;
    height: 32px;
    width: 32px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

// hero
.hero {
  $hero-background-top: darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/images/footer_lodyas.png';
  ///images/swirl_pattern.png
  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;

  .hero-logo img {
    $icon-bullet-size: 3.5em;
    height: 3em;
    //margin-bottom: 2.5em;
    //float: left;
    background: white;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

// Bullet time
.bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;
  margin-bottom: $base-line-height;

  // change ".three-col-bullet" class to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .three-col-bullet {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  // change ".three-col-bullet" class to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  .bullet-icon {
    float: left;
    background: $base-accent-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin-left: $icon-bullet-size *1.4;
    margin-bottom: 2em;
  }

  h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    border-bottom: 1px solid transparentize($base-font-color, .8);
    display: inline-block;
  }
}


// footer
.footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-spacing*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    $icon-bullet-size: 3.5em;
    img {
      height: 3em;
      background: #e7f1ec;
      padding: $icon-bullet-size /4;
      border-radius: 50%;
      width: $icon-bullet-size;
      height: $icon-bullet-size;
    }
  }

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-spacing*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .5em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

// Pricing Grid
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 25em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .95);
    }
  }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: .2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, .4);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}

// Signup
.content {
  @include outer-container;
}
.signup-wrapper {
  @include span-columns(6);
  @include shift(3);
  display: block;
}

$flash-red: #FBE3E4;
$flash-yellow: #FFF6BF;
$flash-green: #E6EFC2;

%flash-base {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
}

$flashes: (alert: $flash-yellow, error: $flash-red, notice: lighten($base-accent-color, 40), success: $flash-green);

@each $flash, $color in $flashes {
  .flash-#{$flash} {
    @extend %flash-base;
    background: $color;
    color: darken($color, 60);

    a {
      color: darken($color, 70);
      border-bottom: 1px solid transparentize(darken($color, 70), .7);

      &:hover {
        color: darken($color, 90);
      }
    }
  }
}


// Drop Down
$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40);
$dropdown-border: 1px solid silver;
$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

.dropdown {
  text-align: center;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown-description {
  background: $dropdown-background;
  border-bottom-left-radius: $base-border-radius;
  border-bottom: $dropdown-border;
  border-left: $dropdown-border;
  border-top-left-radius: $base-border-radius;
  border-top: $dropdown-border;
  color: $dropdown-description-color;
  float: left;
  font-size: .7em;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

  @include media($large-screen) {
    font-size: 1em;
  }
}

.dropdown-button {
  background: $dropdown-background;
  border-bottom-right-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  border-top: $dropdown-border;
  border-right: $dropdown-border;
  border-bottom: $dropdown-border;
  cursor: pointer;
  float: right;
  font-size: .7em;
  font-weight: 800;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding * 3.5) 0 ($dropdown-padding / 2);
  position: relative;

  @include media($large-screen) {
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
  }
}

.dropdown-button:hover{
  background-color: $dropdown-background-hover;
}

.dropdown-button:after {
  color: $base-font-color;
  content: "\25BE";
  display: block;
  position: absolute;
  right: $dropdown-padding;
  top: $dropdown-arrow-top-distance;
}

.menu {
  @include transition (all 0.2s ease-in-out);
  background: $dropdown-background;
  border-radius: $base-border-radius;
  border: $dropdown-border;
  box-shadow: 0 2px 2px transparentize(black, .8);
  color: $dropdown-color;
  cursor: pointer;
  display: none;
  overflow: show;
  position: absolute;
  right: 0;
  top: $dropdown-distance-from-menu;
  width: 228px;
  z-index: 99999;

  &:before {
    @include position(absolute, 0 1em 0 0);
    color: $dropdown-background;
    content: "\25b2";
    font-size: 1.4em;
    pointer-events: none;
    text-shadow: 0 -2px 2px transparentize(black, .7);
    top: -1em;
  }
}

.menu li {
  border-bottom: $dropdown-inner-border;
  color: $dropdown-color;
  padding: $dropdown-padding / 2;
}

.menu li:hover {
  background: $dropdown-background-hover;
}

.menu li:first-child {
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
}

.menu li:last-child {
  border: none;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

.show-menu {
  display: block;
}

// Inspired by code by www.HUSAMUI.com

// TOS
.entrytext {
  h3 {
    text-align: center;
  }

  p {
    text-align: left;
  }

}

// privacy
.privacy-text {
  h3 {
    margin-top: 30px;
  }
}

// Login
/*
.content {
  @include outer-container;
}
.signup-wrapper {
  @include span-columns(6);
  @include shift(3);
  display: block;
}
 */
.login-container {
  margin-top: 100px;
  margin-bottom: 100px;
  @include outer-container;
  .form-signin {
    @include span-columns(4);
    @include shift(4);
    display: block;

    .btn-fg {
      float: right;
    }
  }
}

// For sprites
.forest, .logo-icon, .research, .search, .shopping{
  background: url(/images/icons.png) no-repeat;
}

.forest-container {
  $icon-bullet-size: 3.5em;
  background: white;
  padding: $icon-bullet-size /4;
  border-radius: 50%;
  width: $icon-bullet-size;
  height: $icon-bullet-size;
  text-align: center;
  margin: auto;
}
.forest{
  background-position: 0 -30px ;
  width: 28px;
  height: 28px;
  text-align: center;
    height: 3em;
    //margin-bottom: 2.5em;
    //float: left;

}

.logo-icon{
  $centered-navigation-logo-height: 2em;
  background-position: -61px 0;
  width: 75px;
  height: 75px;
  margin-bottom: -$centered-navigation-logo-height / 3;
  max-height: $centered-navigation-logo-height;
  opacity: .6;
  display: inline;
}

.research{
  background-position: -28px -30px ;
  width: 28px;
  height: 28px;
}

.search{
  background-position: -32px 0;
  width: 28px;
  height: 29px;
}

.shopping{
  background-position: -3px 0;
  width: 28px;
  height: 28px;
}

