@import"bourbon/bourbon";
@import"neat/neat";
@import"base/base";
$amazon-orange: #e47811;
$sans-serif: 'Questrial', sans-serif;
$serif: 'Sanchez', serif;

body {
  font-family: $sans-serif;
}

header.navigation {
  $navigation-padding: 1em;
  //$navigation-background: $dark-gray;
  $navigation-background: #2989d8;
  $navigation-color: transparentize($blue, 0.3);
  //$navigation-color-hover: white;
  $navigation-color-hover: $amazon-orange;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  //$navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-background: lighten(lightblue, 5);
  $navigation-search-border: 1px solid lighten($blue, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;
  //background-color: $navigation-background;
  @include linear-gradient(lightblue, #E7F1EC);
  //@include linear-gradient(to top, #8fdce5, #3dc3d1);
  //@include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
  //@include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;
  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }
  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }
  // Mobile view
  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;
    @include media ($horizontal-bar-mode) {
      display: none;
    }
    &:hover {
      color: $navigation-color-hover;
    }
  }
  // Nav menu
  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }
  ul#navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }
  // The nav items
  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }
    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
  // Sub menus
  li.more.nav-link {
    padding-right: 0;
    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }
    > ul > li:first-child a {
      padding-top: 1em;
    }
    a {
      margin-right: $navigation-submenu-padding;
    }
    > a {
      padding-right: 0.6em;
    }
    > a:after {
      @include position(absolute, auto -.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }
  li.more {
    overflow: visible;
    padding-right: 0;
    a {
      padding-right: .8em;
    }
    > a {
      padding-right: 1.6em;
      position: relative;
      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }
      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }
    &:hover > .submenu {
      display: block;
    }
    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;
    }
  }
  ul.submenu {
    display: none;
    padding-left: 0;
    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }
    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - .2em;
        top: 0;
      }
    }
    li {
      display: block;
      padding-right: 0;
      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;
        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }
        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }
      a {
        background-color: darken($navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;
        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }
  // Elements on the far right
  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;
    @include media($large-screen) {
      background: transparent;
      float: right;
      clear: none;
    }
  }
  a.sign-up {
    margin-top: 1.2em;
    float: right;
    @include transition (all 0.2s ease-in-out);
    display: inline;
    background: $navigation-nav-button-background;
    border-radius: $base-border-radius;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em;
    @include media($large-screen) {
      padding: .5em 1em;
    }
    &:hover {
      background: lighten($navigation-nav-button-background, 10);
    }
  }
  // Search bar
  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);
    //1e5799
    //$search-bar-background: lighten(#1e5799, 10);
    padding: .85em .6em;
    float: left;
    .search-and-submit {
      position: relative;
      input[type=search] {
        //background: $navigation-search-background;
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
        @include media($large-screen) {
          width: 100%;
        }
      }
      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 50));
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px;
        img {
          height: 12px;
          opacity: .7;
        }
      }
    }
    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative;
      display: inline-block;
      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}
.hero {
  $hero-background-top: darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'http://g-ecx.images-amazon.com/images/G/01/img14/video-games/slideshow/destiny_available_physical_slideshow_takeover._V326921457_.jpg';
  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }
  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;
    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }
    .hero-copy {
      text-align: center;
      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;
        @include media($large-screen) {
          font-size: 1.8em;
        }
      }
      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
.cards {
  @include clearfix;
}
.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-spacing;
  cursor: pointer;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;
  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }
  .card-image {
    overflow: hidden;
    max-height: 150px;
    text-align: center;
    img {
      //width: 100%;
      height: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }
  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
  }
  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-spacing/3 $gutter/2;
  }
  .card-copy {
    padding: $base-spacing/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }
  .card-stats {
    padding: $base-spacing/2 $gutter/2;
    overflow: auto;
    ul li {
      display: inline;
      color: $card-stats-color;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;
      width: 40%;
      &:first-child {
        padding-left: 0;
        width: 25%;
      }
      &:last-child {
        border-right: 0;
        width: 50%;
      }
      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
      button {
        background: #E6EFC2;
        color: darken(#E6EFC2, 60);
      }
    }
  }
  &:hover {
    background-color: $card-hover-background;
    .card-image img {
      background: $card-image-hover-background;
    }
    .card-header {
      background-color: $card-hover-background;
    }
  }
  &:active {
    background-color: $card-background;
    .card-header {
      background-color: $card-background;
    }
  }
}
// Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }
// html, body {
//  height: 100%;
// }
// .footer-2, .push {
//   height: 17em;
//   @include media($large-screen) {
//     height: 4em;
//   }
// }
.footer-2 {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);
  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  height: 80px;
  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }
  .footer-logo img {
    height: 1.6em;
  }
  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }
  ul li {
    padding-right: 1em;
    font-weight: 800;
    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }
  ul li a {
    color: $footer-link-color;
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }
    li {
      font-size: .8em;
      font-weight: 400;
    }
    ul.footer-social {
      margin-top: 1em;
      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }
      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;
        &:last-child {
          padding-right: 0;
        }
      }
      img {
        opacity: .7;
        height: 1.6em;
        padding: 1px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


// First page customization
.outer {
  @include outer-container;
  .sidebar {
    @include span-columns(2);
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    @include pad();
    margin-top: 10px;
    padding-top: 10px;
    //background-color: #dddddd;
    @include linear-gradient(#CEECF5, lighten(#CEECF5, 60));
    height: 100%;
    h4 {
      color: #999;
      font-size: 1em;
    }
    ul {
      a {
        color: transparentize($blue, 0.3);
        font-size: 0.8em;
      }
      a:hover {
        color: $amazon-orange;
      }
    }
  }
  .main {
    @include span-columns(10);
    @include omega();

    h1 {
      color: #4c94b7;
      font-family: $serif;
      font-size: 1.8em;
      font-weight: 700;
      margin-bottom: .5em;
      @include media($medium-screen) {
        font-size: 2.6em;
      }
    }
    h2 {
      color: gray;
      font-family: $serif;
      font-style: italic;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 1.1em;
      @include media($medium-screen) {
        font-size: 1.3em;
      }
    }
    p {
      font-family: $sans-serif;
      line-height: 1.5em;
      font-size: 1.05em;
      margin-bottom: 1.5em;
    }
  }
}

// Detail page customization

.content-wrapper {
  @include outer-container;
  .image-col {
    @include span-columns(3);

    .image-wrapper {
      height: 300px;
    }
  }

  .content-col {
    @include span-columns(9);
    h1 {
      color: #4c94b7;
      font-family: $serif;
      font-size: 1.8em;
      font-weight: 700;
      margin-bottom: .5em;
      @include media($medium-screen) {
        font-size: 2.6em;
      }
    }
    h2 {
      color: gray;
      font-family: $serif;
      font-style: italic;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 1.1em;
      @include media($medium-screen) {
        font-size: 1.3em;
      }
    }



    p {
      font-family: $sans-serif;
      line-height: 1.5em;
      font-size: 1.05em;
      margin-bottom: 1.5em;
    }
  }
}

.related {

  width: 100%;
  z-index: 999;
  @include linear-gradient(orange, lighten(orange, 30));
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);

  margin-bottom: 1em;

  .related-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;

    h3 {
      font-family: $sans-serif;
      color: white;
    }

  }

}

// Badges
.badges {
  $badge-background: $medium-gray;
  $badge-dark-color: $dark-gray;
  $badge-error-color: #FBE3E4;
  $badge-notice-color: lighten($base-accent-color, 40);
  $badge-success-color: #E6EFC2;
  $badge-font-color: #fff;
  $badge-font-size: $base-font-size * .75;

  display: block;
  margin-bottom: $base-line-height;

  .star {
    @include inline-block;
    margin-right: golden-ratio(14px, 1);
    font-family: $sans-serif;
    color: $amazon-orange;
  }
  .go {
    @include inline-block;
    margin-left: golden-ratio(14px, 3);
    button {
      font-family: $sans-serif;
      @include border-top-radius(3px);
      @include border-right-radius(3px);
      @include border-bottom-radius(3px);
      @include border-left-radius(3px);

      @include linear-gradient(red, lighten(red, 10));
    }

    button:hover {
      @include linear-gradient(lighten(red,10), lighten(red, 20));
    }
  }
  .badge {
    @include inline-block;
    background: $badge-background;
    border-radius: 2em;
    color: $badge-font-color;
    font-size: $badge-font-size;
    font-weight: 600;
    line-height: 1;
    padding: .25em 1em;
    text-align: center;

    &.dark {
      background: $badge-dark-color;
    }

    &.error {
      background: $badge-error-color;
      color: darken($badge-error-color, 60);
    }

    &.notice {
      background: $badge-notice-color;
      color: darken($badge-notice-color, 60);
    }

    &.success {
      background: $badge-success-color;
      color: darken($badge-success-color, 60);
    }

    &.freeshipping {
      background: $badge-success-color;
      color: darken($badge-success-color, 60);
      margin-left: golden-ratio(14px, 1);
    }
    &.fastshipping {
      background: $badge-notice-color;
      color: darken($badge-notice-color, 60);
      margin-left: golden-ratio(14px, 2);
    }
  }
}

// Contact uppercase
.contact-text {
  $intro-text-width: 60%;

  margin-bottom: 5em;
  margin-top: 4em;
  text-align: center;

  h2 {
    font-family: $serif;
    font-weight: 800;
    margin-bottom: .3em;

    @include media($large-screen) {
      font-size: 3em;
      margin-bottom: .4em;
    }
  }

  h3 {
    background: $base-accent-color;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase;

    @include media($large-screen) {
      margin-bottom: 3.3em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.35em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }
  }

  p {
    margin: auto;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }


  }

  .attribution {
    $serif-2: 'Merriweather', serif;
    color: transparentize($base-font-color, .6);
    font-family: $serif-2;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em;
  }
}

.about-text {
  @extend .contact-text;
}