
<form role="form">
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <a href="#/app"><button class="btn btn-info">Back</button></a><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="name">App Name</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Name" ng-model="app.name">
      <p class="help-block">Example: Baby</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">App Summary</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Summary" ng-model="app.summary">
      <p class="help-block">Description</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">App Category</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Category" ng-model="app.cat">
      <p class="help-block">Description</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">App Android URL</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter URL" ng-model="app.android">
      <p class="help-block">Example: www.google.com</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">App iOS URL</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter URL" ng-model="app.ios">
      <p class="help-block">Example: www.google.com</p><br>
    </div>
  </div>
  <!-- <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Tracking ID</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Description" ng-model="website.trackingId">
      <p class="help-block">Amazon Tracking ID e.g. googhydr-20</p><br>
    </div>
  </div> -->
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>

</form>