
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <a href="#/appDetail"><button class="btn">Add App</button></a><br><br>
    <table class="table">
      <tr>
        <th>App</th>
        <th>Category</th>
        <th>Updated</th>
        <th>Detail</th>
      </tr>
      <tr ng-repeat="app in apps">
        <td>
          {{app.name}}
        </td>
        <td>
          {{app.cat}}
        </td>
        <td>
          {{app.updated | date:shortDate}}
        </td>
        <td>
          <a href="#/app/{{app._id}}"><button class="btn">Edit</button></a>
          <button class="btn btn-warning" ng-click='delete(app)'>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
