<a href="#/keywordDetail"><button class="btn">Add Keyword</button></a><br><br>

<div class="row">
  <div class="col-sm-6">
    <select class="form-control" ng-model="website" ng-options="website.url for website in websites track by website._id" ng-change="selectWebsite()">
      <option value="">-- choose website --</option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <table class="table">
    <tr>
      <th>Keyword</th>
      <th>Last Update</th>
      <th>Detail</th>
    </tr>
    <tr ng-repeat="keyword in keywords">
      <td>
        <a href="#/keyword/{{keyword._id}}" target="_blank">
        {{keyword.keyword}}</a>
      </td>
      <td>
        {{keyword.updated | date:'medium'}}
      </td>
      <td>
        <a href="#/keyword/{{keyword._id}}"><button class="btn">Detail</button></a>
        <button class="btn btn-warning" ng-click="delete(keyword)">
          <span class="glyphicon glyphicon-trash"></span>
          Delete</button>
      </td>
    </tr>
  </table>
</div>