
<a href="#/keyword"><button class="btn btn-info">Back</button></a><br>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form role="form">

      <div class="form-group">
        <label for="website">Website:</label>
        <select class="form-control" ng-model="website" ng-options="website.url for website in websites track by website._id">
          <option value="">-- choose website --</option>
        </select>
      </div>

      <div class="form-group">
        <label for="asin">ASIN</label>
        <input type="text" class="form-control" ng-model="keyword.asin" placeholder="Enter ASIN">
        <p class="help-block">Amazon ASIN e.g. 0804139296</p>
      </div>
      <div class="form-group">
        <label for="trackingId">Tracking ID</label>
        <input type="text" class="form-control" ng-model="keyword.trackingId" placeholder="Enter Tracking ID">
        <p class="help-block">e.g. googhydr-20</p>
      </div>
      <div class="form-group">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control" ng-model="keyword.keyword" placeholder="Enter Keyword">
        <p class="help-block">Keyword for SEO</p>
      </div>
      <div class="form-group">
        <label for="permalink">Permalink</label>
        <input type="text" class="form-control" ng-model="keyword.permalink" placeholder="Enter Permalink">
        <p class="help-block">{{website.url}}/{{keyword.permalink}}</p>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" ng-model="keyword.title" placeholder="Enter Title">
        <p class="help-block">Should not exceed 66 characters</p>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" ng-model="keyword.description">{{keyword.description}}</textarea>
        <p class="help-block">Should not exceed 166 characters</p>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" ng-model="keyword.imageUrl">
        <p class="help-block">Should not exceed 166 characters</p>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" ng-model="keyword.price" placeholder="Enter price">
        <p class="help-block">e.g. $9.99</p>
      </div>

      <div class="form-group">
        <label for="freeshipping">Is Freeshipping?</label>
        <input type="checkbox" ng-model="keyword.freeshipping" value="">
      </div>

      <div class="form-group">
        <label for="fastshipping">Is Fastshipping?</label>
        <input type="checkbox" ng-model="keyword.fastshipping" value="">
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" ng-model="keyword.content">{{keyword.content}}</textarea>
        <p class="help-block">Product Reviews <button class="btn btn-info" ng-click="getReview()">Fill me in!</button></p>
      </div>


      <button type="button" class="btn btn-default" ng-click="save()">Submit</button>
    </form>
  </div>
</div>
<br><br>
<div class="alert alert-success alert-dismissible" ng-show="success" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" ng-click="success=false;">&times;</span><span class="sr-only">Close</span></button>
  <strong>Saved!</strong> Great Jobs!
</div>

