extends home
block content
  .intro-text
    h3 About Us
    h2 We are committed to help you.
    h4
      | We will help you create websites that make money.<br>
      | We will help you rank well on major search engine.
    p
      | With our 5 Years+ experiences, we can help optimize your websites for search engine.
    p.attribution
      | Icons provided by:<br>
      | Beaker by Blake Thompson from The Noun Project<br>
      | Forest by Christine Komatsu from The Noun Project<br>
      | Purse by Jason Grube from The Noun Project<br>
      | Web Search by Alexandria Eddings from The Noun Project<br>
      | Building by Lil Squid from The Noun Project<br>
      | cheap by Icons8 from The Noun Project<br>
      | Coins by Simple Icons from The Noun Project<br>