extends home
block content
  .intro-text
    if sent
      h3 Your password has been sent to your email
      h2 Please login with your password here.
      h4
        a(href='/login')
          button Login
    else
      .login-container
        form.form-signin(role='form' method='POST' action='/forget')
          h2.form-signin-heading Please tell us your email
          input.form-control(type='text', name='email', placeholder='Email', required, autofocus='')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit