doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    header.centered-navigation
      .centered-navigation-wrapper
        a.mobile-logo(href='javascript:void(0)')
          img(src='/images/logo.png', alt='Logo image', width="32px", height="32px")
        a.centered-navigation-menu-button(href='') MENU
        ul.centered-navigation-menu
          li.nav-link
            a(href='/') Home
          li.nav-link
            a(href='/about-us') About Us
          li.nav-link
            a(href='/contact-us') Contact Us
          li.nav-link.logo
            a.logo(href='/')
              img(src='/images/logo.png', alt='Logo image', width="32px", height="32px")
            //div.logo-icon
          li.nav-link
            a(href='/pricing') Pricing
          li.nav-link
            a(href='/signup') Sign up
          li.nav-link
            a(href='/login') Login
    block content
      .hero
        .hero-inner
          .forest-container
            div.forest
          .hero-copy
            h1 Best Amazon Landing Page Maker
            p
              | We know how to make a landing page that sells.
          a(href='/pricing')
            button Learn More


      .intro-text
        h3 Attention Please
        h2 Amazon Affiliates will never be the same
        h4
          | Use the proven tool to create a landing page.
        p
          | Create a landing page can be a tedious task. Let us reduce your workload.
        p
          | Use our tool to create a high conversion page in matter of minutes!
        p
          a(href='/about-us')
            | Read more
            span »

      ul.bullets
        li.bullet.three-col-bullet
          .bullet-icon.bullet-icon-1
            //img(src='/images/shopping.png', alt='')
            div.shopping
          .bullet-content
            h2 Landing Page
            p
              | Create Landing Page in a matter of minutes. Optimize for high conversion!
        li.bullet.three-col-bullet
          .bullet-icon.bullet-icon-2
            //img(src='/images/research.png', alt='')
            div.research
          .bullet-content
            h2 Research Keyword
            p
              | Find niche keywords in only a few clicks away.
        li.bullet.three-col-bullet
          .bullet-icon.bullet-icon-3
            //img(src='/images/search.png', alt='')
            div.search
          .bullet-content
            h2 Ranking
            p
              | Ready to rank on first page. With SEO Optimized landing page.

    footer.footer
      .footer-logo
        img(src='/images/logo.png', alt='Logo image', width="32px", height="32px")
      .footer-links
        ul
          li
            h3 Content
          li
            a(href='/about-us') About Us
          li
            a(href='/contact-us') Contact Us
          li
            a(href='/pricing') Pricing
        ul
          li
            h3 Follow Us
          li
            a(href='javascript:void(0)') Facebook
          li
            a(href='javascript:void(0)') Twitter
          li
            a(href='javascript:void(0)') YouTube
        ul
          li
            h3 Legal
          li
            a(href='/tos') Terms and Conditions
          li
            a(href='/privacy') Privacy Policy
      hr
      p
        | Disclaimer: CERTAIN CONTENT THAT APPEARS [IN THIS APPLICATION or ON THIS SITE, as applicable] COMES FROM AMAZON SERVICES LLC. THIS CONTENT IS PROVIDED ‘AS IS’ AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME..



