doctype html
html
  head
    title= title
    meta(name='description' content='#{description}')
    meta(name="verifyownership" content="6012b53ac30f5ac9978fe5857a429879")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Questrial', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400', rel='stylesheet', type='text/css')

  body
    header.navigation
      .navigation-wrapper
        a.logo(href='/')
          if logo
            img(src='#{logo}', alt='#{title}')
          else
            img(src='/images/logo.png', alt='Nozama')

        a#js-mobile-menu.navigation-menu-button(href='') MENU
        .nav
          ul#navigation-menu
            li.nav-link
              a(href='/top-read') Top Read
            li.nav-link
              a(href='/recent-articles') Recent Articles
        //- .navigation-tools
        //-   .search-bar
        //-     .search-and-submit
        //-       form(method="GET", action="/search")
        //-         input(type='search', placeholder='Enter Search', name="q")
        //-         button(type='submit')
        //-           img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png', alt='Search Icon')
        //-   a.sign-up(href='javascript:void(0)') Sign Up

    block content

    //- footer.footer-2
    //-   .footer-logo
    //-     a(href='/')
    //-       if logo
    //-         img(src='#{logo}', alt='#{title}')
    //-       else
    //-         img(src='/images/logo.png', alt='Logo image')
    //-   ul
    //-     li
    //-       a(href='/about-us') About
    //-     li
    //-       a(href='/contact-us') Contact
    //-     li
    //-       a(href='/new-release') Products
    //-   .footer-secondary-links
    //-     ul
    //-       li
    //-         a(href='/tos') Terms and Conditions
    //-       li
    //-         a(href='/privacy') Privacy Policy
    //-     ul.footer-social
    //-       li
    //-         a(href='javascript:void(0)')
    //-           img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png', alt='Facebook')
    //-       li
    //-         a(href='javascript:void(0)')
    //-           img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='Twitter')
    //-       li
    //-         a(href='javascript:void(0)')
    //-           img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='YouTube')

    block disqus
