extends home
block content
  .login-container
    if error == 'login'
      .flash-error
        span
          | Something went wrong.
    form.form-signin(role='form' method='POST' action='/login')
      h2.form-signin-heading Please sign in
      input.form-control(type='text', name='username', placeholder='Username', required, autofocus='')
      input.form-control(type='password', name='password', placeholder='Password', required)
      //- .checkbox
      //-   label
      //-     input(type='checkbox', value='remember-me')
      //-     | Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      a(href='/forget')
        p.btn.btn-fg.btn-primary.btn-block Forget?
