extends home
block content
  .intro-text
    h3 Feature
    h4 Every packages comes with a landing page creator.
    p
      ul
        li Landing Page Creator
        li Keyword Research Tool
        li SEO Optimized
        li Sitemap Creator
        li Content Generator
        li Disqus Comment Integration
  .grid-items-lines
    a.grid-item(href='/signup')
      img(src='/images/standard.png', alt='')
      h1 Standard $9.99/month
      p 10 Domains
      p 25 Research Keywords
      button Signup
    a.grid-item(href='/signup')
      img(src='/images/premium.png', alt='')
      h1 Premium $49.99/month
      p Unlimited Domains
      p Unlimited Research Keywords
      button Signup
    a.grid-item(href='/signup')
      img(src='/images/enterprise.png', alt='')
      h1 Enterprise Contact Us
      p Unlimited Domains
      p Unlimited Research Keywords
      P Access to Our Special Tools
      p Priority Support
      p The Sky is the limit!
      button Signup
    .right-cover
    .bottom-cover
