.cards
  each article in articles
    .card
      .card-header
        a(href='/'+article.permalink)=article.title
      .card-copy
        p=article.summary
      .card-stats
        ul
          li
            a(href='/'+article.permalink)
              span
                button
                  | Read More

