extends home
block content
  .content
    if error == 'username'
      .flash-error
        span
          | Username is already taken.

    .signup-wrapper
      fieldset
        p
          | It takes only a few minutes to setup!
        form(action='signup' method='post')
          h2 Signup
          p
            | Please fill in the form below.
          p
            label(for='username') Username:
            input#username(name='username' type='text' required)
          p
            label(for='password') Password:
            input#password(name='password' type='password' required)
          p
            label(for='email') Email:
            input#email(name='email' type='text' required)
          p
            label(for='radio_buttons') Package:
            input#price(type='hidden' value='$9.99')
            label
              input.radio#price-standard(type='radio', name='package', value='standard' checked="true" required onclick="standard()")
              | Standard Package $9.99/month
            label
              input.radio#price-premium(type='radio', name='package', value='premium' required onclick="premium()")
              | Premium Package $49.99/month
            a(href='/pricing' target='_blank') What's the difference?
          p
            label(for='checkboxes') Term:
            input#term(name='term' type='hidden' value='monthly')
            .dropdown
              .dropdown-container
                p.dropdown-description Price
                p.dropdown-button Click to Select
                ul.menu
                  li#monthly Monthly&nbsp;
                    span#price1 $9.99
                  li#annually Annually&nbsp;
                    span#price2 $107.89 Save 10%!
          p
            label(for='total') Subtotal:
            span#total &nbsp;
          p
            label(for='checkboxes') Term of Service:

            input#agree(name='agree' type='checkbox' required)
            | I agree to Term of Service&nbsp;
            a(href='/tos') Here
          p
            input.button(type='submit', value='Submit')
  //script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(type='text/javascript' src='/javascripts/jquery.min.js')
  script(type='text/javascript').

    function premium() {
      $('#price1').html('$49.99');
      $('#price2').html('$539.89 Save 10%!');
      if ($('#term').val() === "monthly") {
        $('#total').html($('#price1').text());
      } else if ($('#term').val() === "annually") {
        $('#total').html($('#price2').text());
      }
    }

    function standard() {
      $('#price1').html('$9.99');
      $('#price2').html('$107.89 Save 10%!');
      if ($('#term').val() === "monthly") {
        $('#total').html($('#price1').text());
      } else if ($('#term').val() === "annually") {
        $('#total').html($('#price2').text());
      }
    }
    $(document).ready(function(){
      $(".dropdown-button").click(function(){
        $(".menu").toggleClass("show-menu");

        $('#monthly').click(function() {
          $('#term').val('monthly');
          $(".dropdown-button").html($(this).html());
          $(".menu").removeClass("show-menu");
          $('#total').html($('#price1').text());
        });
        $('#annually').click(function() {
          $('#term').val('annually');
          $(".dropdown-button").html($(this).html());
          $(".menu").removeClass("show-menu");
          $('#total').html($('#price2').text());
        });
      });
    });


