extends layout

block content
  .cards
    each article in articles
      .card
        .card-header
          a(href='/'+article.permalink)=article.title
        .card-copy
          p=article.summary
        .card-stats
          ul
            li
            =article.read
            span &nbsp;views
            li
              a(href='/'+article.permalink)
                span
                  button
                    | Read More