extends home
block content
  .intro-text
    .entrytext
      h3 The gist:
      p
        | We (the&nbsp;
        a(href='http://nozama.io/') folks at Nozama.io
        | ) run a web site hosting service called&nbsp;
        a(href='https://nozama.io') Nozama.io&nbsp;
        | and would&nbsp;
        strong love&nbsp;
        | for you to use it. We offer paid services for advanced features such as domain hosting. Our service is designed to give you as much control and ownership over what goes on your site as possible. However, be responsible in what you publish. In particular, make sure that none of the prohibited items listed below appear on your site or get linked to from your site (things like spam, viruses, or hate content).
      p
        | You can check&nbsp;
        a(href='https://affiliate-program.amazon.com/gp/associates/agreement') Amazon pages for Associates Program Operating Agreement&nbsp;
        | to get a sense of the types of sites that are welcome on our service (or not!).
      p
        | If you find a nozama.io site that you believe violates our terms of service, please&nbsp;
        a(href='http://nozama.io/contact-us/') contact us
        | .
      h3 Terms of Service:
      p
        | The following terms and conditions govern all use of the nozama.io website and all content, services and products available at or through the website, including, but not limited to, Standard Package by nozama.io (Standard) and the nozama.io Premium service (“Premium”), (taken together, the Website). The Website is owned and operated by Nozama.io (“Nozama”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation,
        a(href='http://nozama.io/privacy/') Nozama’s Privacy Policy
        | ) and procedures that may be published from time to time on this Site by Nozama (collectively, the “Agreement”).
      p
        | Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Nozama, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
      ol
        li
          strong Your nozama.io Account and Site.
          | If you create a page on the Website, you are responsible for maintaining the security of your account and page, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the page. You must not describe or assign keywords to your page in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Nozama may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Nozama liability. You must immediately notify Nozama of any unauthorized uses of your page, your account or any other breaches of security. Nozama will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
        li
          strong Responsibility of Contributors.
          | If you operate a page, comment on a page, post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
          ul
            li
              | the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
            li
              | if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
            li
              | you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
            li
              | the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
            li.important
              | the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
            li
              | the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;
            li
              | your page is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other pages and web sites, and similar unsolicited promotional methods;
            li
              | your page is not presented in a manner that misleads your readers into thinking that you are another person or company; and
            li
              | you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Nozama or otherwise.
          p
            | By submitting Content to Nozama for inclusion on your Website, you grant Nozama a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your page. This license allows Nozama to make publicly-posted content available to third parties selected by Nozama so that these third parties can analyze and distribute (but not publicly display) your content through their services.
          p
            | You also give other nozama.io users permission to share your Content on other nozama.io sites and add their own Content to it (aka to repage your Content), so long as they use only a portion of your post and they give you credit as the original author by linking back to your site.
          p
            | If you delete Content, Nozama will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.
          p
            | Without limiting any of those representations or warranties, Nozama has the right (though not the obligation) to, in Nozama’s sole discretion (i) refuse or remove any content that, in Nozama’s reasonable opinion, violates any Nozama policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in Nozama’s sole discretion. Nozama will have no obligation to provide a refund of any amounts previously paid.
        li
          strong Payment and Renewal.
          ul
            li
              strong General Terms.
              br
              | Optional paid services such as extra storage, or domain purchases are available on the Website (any such services, an “Upgrade”). By selecting an Upgrade you agree to pay Nozama the monthly or annual subscription fees indicated for that service. Payments will be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.
            li
              strong Automatic Renewal.
              br
              | Unless you notify Nozama before the end of the applicable subscription period that you want to cancel an Upgrade, your Upgrade subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee for such Upgrade (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Upgrades can be canceled at any time in the Upgrades section of your site’s dashboard.

        li
          strong Responsibility of Website Visitors.
          | Nozama has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, Nozama does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. Nozama disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
        li
          strong Content Posted on Other Websites.
          | We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which nozama.io links, and that link to nozama.io. Nozama does not have any control over those non-WordPress websites and webpages, and is not responsible for their contents or their use. By linking to a non-WordPress website or webpage, Nozama does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Nozama disclaims any responsibility for any harm resulting from your use of non-WordPress websites and webpages.
        li
          strong Copyright Infringement and DMCA Policy.
          | As Nozama asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by nozama.io violates your copyright, you are encouraged to notify Nozama.
          | Nozama will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Nozama will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Nozama or others. In the case of such termination, Nozama will have no obligation to provide a refund of any amounts previously paid to Nozama.
        li
          strong Intellectual Property.
          | This Agreement does not transfer from Nozama to you any Nozama or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Nozama. Nozama, WordPress, nozama.io, the nozama.io logo, and all other trademarks, service marks, graphics and logos used in connection with nozama.io, or the Website are trademarks or registered trademarks of Nozama or Nozama’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any Nozama or third-party trademarks.
        li
          strong Advertisements.
          | Nozama reserves the right to display advertisements on your page unless you have purchased an Ad-free Upgrade or a Premium Services account.
        li
          strong Attribution.
          | Nozama reserves the right to display attribution links such as ‘page at nozama.io,’ theme author, and font attribution in your page footer or toolbar. Footer credits and the nozama.io toolbar may not be altered or removed regardless of upgrades purchased.
        li
          strong Changes.
          | We are constantly updating our services, and that means sometimes we have to change the legal terms under which our services are offered. If we make changes that are material, we will let you know by posting on one of our pages, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new Terms will take effect. If you disagree with our changes, then you should stop using nozama.io within the designated notice period. Your continued use of nozama.io will be subject to the new Terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.
          strong
            br
        li
          strong Termination.
          | Nozama may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your nozama.io account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
          strong
            br
        li.important
          strong Disclaimer of Warranties.
          | The Website is provided “as is”. Nozama and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Nozama nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
          | You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
        li.important
          strong Limitation of Liability.
          | In no event will Nozama, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Nozama under this agreement during the twelve (12) month period prior to the cause of action. Nozama shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
        li
          strong General Representation and Warranty.
          | You represent and warrant that (i) your use of the Website will be in strict accordance with the Nozama Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
        li
          strong Indemnification.
          | You agree to indemnify and hold harmless Nozama, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
        li
          strong Translation.
          | These Terms of Service were originally written in English (US). We may translate these Terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.
        li
          strong Miscellaneous.
          | This Agreement constitutes the entire agreement between Nozama and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Nozama, or by the posting by Nozama of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Nozama may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
