<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <a href="#/websiteDetail"><button class="btn">Add Website</button></a><br><br>
    <table class="table">
      <tr>
        <th>URL</th>
        <th>Logo</th>
        <th>Owner</th>
        <th>Detail</th>
      </tr>
      <tr ng-repeat="website in websites">
        <td>
          {{website.url}}
        </td>
        <td>
          <img ng-src="{{website.logo.url}}">
        </td>
        <td>
          {{website.userId.username}}
        </td>
        <td>
          <a href="#/website/{{website._id}}"><button class="btn">Edit</button></a>
          <button class="btn btn-warning" ng-click='delete(website)'>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
