<div class="alert alert-warning alert-dismissible" ng-show="warning" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" ng-click="warning=false;upgrade=false;">&times;</span><span class="sr-only">Close</span></button>
  <strong>Error!</strong> {{message}} <a href="#/upgrade" ng-show="upgrade">Upgrade?</a>
</div>
<form role="form">
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <a href="#/website">
        <button class="btn btn-info">Back</button>
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Website URL</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter URL" ng-model="website.url">
      <p class="help-block">Example: www.google.com</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Title</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Title" ng-model="website.title">
      <p class="help-block">In Title tag</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Description</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Description" ng-model="website.description">
      <p class="help-block">Meta Description</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Logo</label>
      <select class="form-control" ng-model="logo" ng-options="icon.name for icon in icons track by icon._id" ng-change="selectIcon()">
        <option value="">-- choose logo --</option>
      </select>
      <p class="help-block">Website Logo</p>
      Preview: <br>
      <img ng-src="{{logo.url}}">
      <br>
    </div>
  </div>
  <!-- <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Tracking ID</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Description" ng-model="website.trackingId">
      <p class="help-block">Amazon Tracking ID e.g. googhydr-20</p><br>
    </div>
  </div> -->
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>

</form>
<br>
<div class="alert alert-success alert-dismissible" ng-show="success" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" ng-click="success=false;">&times;</span><span class="sr-only">Close</span></button>
  <strong>Saved!</strong> Great Jobs!
</div>
