<div id="revMHRL" class="a-section">


























<div id="rev-dpReviewsMostHelpfulAUI-R24665LQKH57V9" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">15 of 16 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="4.0 out of 5 stars" href="http://www.amazon.com/review/R24665LQKH57V9/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-4"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R24665LQKH57V9/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Great buy!!!</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A1CHTMIWV8OZH0/ref=cm_cr_dp_pdp" class="noTextDecoration">Melissa</a>
  </span>
<span class="a-color-secondary"> on June 22, 2013</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R24665LQKH57V9" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  This bassinet is great overall. I love how it can collapse for travel and the size is perfect sitting beside our bed, in our not so large bedroom. It also comes in already assembled (collapsed) and all you have to do is lock the bars and put it where you would like. Some may say its too much, but I added a changing pad in it for cushion because the one that came in it is very thin and flimsy. The cover works great for us because we have two cats. They don't bother our baby when she is in it sleeping, but when she isn't, they really love to sleep in it. So I can zip up the cover when not in use to keep the kitties out. The downfall to the cover is that there isn't an option to take it off. So when my daughter is sleeping and the cover isn't zipped, it takes up mattress/sleeping space. And when I try picking her up in the middle of the night the covers have gotten in the way. When I first saw this, I thought it would be perfect to use at my husbands softball tournaments as opposed to taking a big pack and play when my daughter is still little ( to zip up the cover and keep bugs away from her).
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R24665LQKH57V9/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>










<a id="R24665LQKH57V9.2115.Helpful.Reviews"></a>
<span id="cr-vote-R24665LQKH57V9">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R24665LQKH57V9&quot;,&quot;reviewId&quot;:&quot;R24665LQKH57V9&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R24665LQKH57V9/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=AFA215B1C3C7196BB30157C8B9DD7958720DC7C4&amp;voteAnchorName=R24665LQKH57V9.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R24665LQKH57V9/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=09C2F49AE694FB9502B6708FCCB985E46F5DD84F&amp;voteAnchorName=R24665LQKH57V9.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R24665LQKH57V9/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=7A7A3759832AA50AFC0FE208C15B3A0FC57D12ED&amp;voteAnchorName=R24665LQKH57V9.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-R2EE6V3FJR0PLJ" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">8 of 8 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="4.0 out of 5 stars" href="http://www.amazon.com/review/R2EE6V3FJR0PLJ/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-4"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R2EE6V3FJR0PLJ/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Surprisingly Sturdy</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A190YO8ISWNW9I/ref=cm_cr_dp_pdp" class="noTextDecoration">Jin Lee</a>
  </span>
<span class="a-color-secondary"> on April 17, 2013</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R2EE6V3FJR0PLJ" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  Just got it a few days ago.  Was skeptical about the sturdiness when ordering but it proved to be sturdy.  Took literally a minute to put together.  I like this the most compared to the few bassinets I saw at babies r us and buy buy baby. It states you can sleep up to a one year old or 25 lb baby in the bassinet but I plan to sleep our baby till maybe 4-6 months.  Not much of a cushion for the padding that it comes with therefore a 4 star and not a 5 star. Overall I am very pleased with the product.
</div>

</div>







<a class="a-link-normal comment-link" title="1" href="http://www.amazon.com/review/R2EE6V3FJR0PLJ/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">1 Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R2EE6V3FJR0PLJ.2115.Helpful.Reviews"></a>
<span id="cr-vote-R2EE6V3FJR0PLJ">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R2EE6V3FJR0PLJ&quot;,&quot;reviewId&quot;:&quot;R2EE6V3FJR0PLJ&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EE6V3FJR0PLJ/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=D18D6956074A8264A25E12700207FBBF69EA310A&amp;voteAnchorName=R2EE6V3FJR0PLJ.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EE6V3FJR0PLJ/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=F0735F4CF6723E82215CA9D4C0E6AFA3284770CD&amp;voteAnchorName=R2EE6V3FJR0PLJ.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R2EE6V3FJR0PLJ/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=BD1178DD94E123F3E3CC1143E7DE01CA0C4BF6AE&amp;voteAnchorName=R2EE6V3FJR0PLJ.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-RIEY4WOR2MP9B" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">8 of 8 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/RIEY4WOR2MP9B/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-5"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/RIEY4WOR2MP9B/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">MY BABY LOVES IT</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A3A19JDC3SXN8Z/ref=cm_cr_dp_pdp" class="noTextDecoration">Shae</a>
  </span>
<span class="a-color-secondary"> on March 9, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-RIEY4WOR2MP9B" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  You need to buy a LA Baby 4 Sided Changing Pad 32", White to go inside the bassinet since the bottom is just a hard cardboard bottom.  However this item is so convenient for travel or moving from space to space, it's worth the extra purchase.<br><br>The item arrived already assembled, only needing the legs added at the bottom.
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/RIEY4WOR2MP9B/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="RIEY4WOR2MP9B.2115.Helpful.Reviews"></a>
<span id="cr-vote-RIEY4WOR2MP9B">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-RIEY4WOR2MP9B&quot;,&quot;reviewId&quot;:&quot;RIEY4WOR2MP9B&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/RIEY4WOR2MP9B/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=15D9837B31F212D339B0442C0163176D528755EB&amp;voteAnchorName=RIEY4WOR2MP9B.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/RIEY4WOR2MP9B/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=C62391C60D5C61567C433517864DC3516FBD6D0E&amp;voteAnchorName=RIEY4WOR2MP9B.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/RIEY4WOR2MP9B/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=4CFE5DAD73D9CE0034A3CFD8A3FD85A78DA41006&amp;voteAnchorName=RIEY4WOR2MP9B.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-R1XEVVLSDR788B" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">2 of 2 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="2.0 out of 5 stars" href="http://www.amazon.com/review/R1XEVVLSDR788B/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-2"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R1XEVVLSDR788B/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Important flaw. Please read.</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A22OLMIUFG865A/ref=cm_cr_dp_pdp" class="noTextDecoration">JB</a>
  </span>
<span class="a-color-secondary"> on September 28, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R1XEVVLSDR788B" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  I am shocked more people did not have an issue with this bassinet.<br><br>They need to add a way to remove the top canopy cover. This is hard to explain, but the canopy takes away over a foot of the mouth or opening of the bassinet when putting baby in. With a small opening like that, it would make anything bigger than a newborn hard to put in. My apologies if this doesn't make sense. Also the canopy does not fold flat like the picture.<br><br>As others have said, the pad sucks. We ordered the recommended pad and it worked well.<br><br>It did seem built sturdy and folds up easy. Maybe if you are using this for travel only, it would be fine. We had to return due to that design flaw.
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R1XEVVLSDR788B/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R1XEVVLSDR788B.2115.Helpful.Reviews"></a>
<span id="cr-vote-R1XEVVLSDR788B">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R1XEVVLSDR788B&quot;,&quot;reviewId&quot;:&quot;R1XEVVLSDR788B&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1XEVVLSDR788B/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=37C9F464CB27AE5DF30C14974732C4BE6E7C8F93&amp;voteAnchorName=R1XEVVLSDR788B.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1XEVVLSDR788B/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=B87F83DE7067E478BB557EAF1A0C8091D8FB39C8&amp;voteAnchorName=R1XEVVLSDR788B.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1XEVVLSDR788B/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=D416CBB4DE51E98EA5BD86F9F70CA334C4D30E01&amp;voteAnchorName=R1XEVVLSDR788B.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-R30NKZ51TDU003" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">2 of 2 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/R30NKZ51TDU003/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-5"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R30NKZ51TDU003/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Perfect for curious cat owners and campers!</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A3GC17ZDBX7FAN/ref=cm_cr_dp_pdp" class="noTextDecoration">Shancherie</a>
  </span>
<span class="a-color-secondary"> on July 17, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R30NKZ51TDU003" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  This bassinet folds up, protects against cats at home and bugs while camping. Baby girl is now almost four months and loves it. She's never had any problems falling asleep or waking up in her bassinet. I think she likes that it is not too stimulating and finds it easy to fall back asleep (no mobiles or lights overhead to distract). With the mesh sides, she can see us if she wakes up, too. Of course, it could be that I just have the best sleeping baby, ever!
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R30NKZ51TDU003/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R30NKZ51TDU003.2115.Helpful.Reviews"></a>
<span id="cr-vote-R30NKZ51TDU003">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R30NKZ51TDU003&quot;,&quot;reviewId&quot;:&quot;R30NKZ51TDU003&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R30NKZ51TDU003/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=E2F644347BA050F888575709A8D4EF40BCB9D79F&amp;voteAnchorName=R30NKZ51TDU003.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R30NKZ51TDU003/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=0A2C73CAEF72A3562D2A7124C3F18EAFD72A282B&amp;voteAnchorName=R30NKZ51TDU003.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R30NKZ51TDU003/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=EA213DEB68C4A77913469008617BA5469142A8AC&amp;voteAnchorName=R30NKZ51TDU003.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-R3J76QMTTZ57TW" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">2 of 2 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/R3J76QMTTZ57TW/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-5"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R3J76QMTTZ57TW/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Just what I needed</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A3VNU5D8KMH5BQ/ref=cm_cr_dp_pdp" class="noTextDecoration">Debbie Lord</a>
  </span>
<span class="a-color-secondary"> on January 30, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R3J76QMTTZ57TW" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  Exactly as advertized.  Would definately recommend to others. Very beauriful and sturdy. Easy to set up and very portable. Willget used a lot.
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R3J76QMTTZ57TW/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R3J76QMTTZ57TW.2115.Helpful.Reviews"></a>
<span id="cr-vote-R3J76QMTTZ57TW">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R3J76QMTTZ57TW&quot;,&quot;reviewId&quot;:&quot;R3J76QMTTZ57TW&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3J76QMTTZ57TW/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=DC285253964D2C1733FD7CF35ED9BFDEF9D48A59&amp;voteAnchorName=R3J76QMTTZ57TW.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3J76QMTTZ57TW/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=984BECADEE2C5A6FE6FEEAA5F4C39239AD6B2EE9&amp;voteAnchorName=R3J76QMTTZ57TW.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R3J76QMTTZ57TW/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=A015B265A60F5619B23C11B33A480A01FCE5F710&amp;voteAnchorName=R3J76QMTTZ57TW.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>











<div id="rev-dpReviewsMostHelpfulAUI-R1NK59CFBS8DFH" class="a-section"><div class="a-row a-spacing-micro"><span class="a-size-small a-color-secondary">1 of 1 people found the following review helpful</span><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/R1NK59CFBS8DFH/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-5"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R1NK59CFBS8DFH/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">Great purchase and baby gift.</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/ACMTQEWSKF1NJ/ref=cm_cr_dp_pdp" class="noTextDecoration">M. P. Sams</a>
  </span>
<span class="a-declarative" data-action="cr-popup" data-cr-popup="{&quot;width&quot;:340,&quot;title&quot;:&quot;AmazonHelp&quot;,&quot;height&quot;:340}" style="display:inline;"></span><span class="a-color-secondary"> on September 14, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R1NK59CFBS8DFH" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  i purchased this for my niece and her husband for their new premature baby girl.  She was so tiny, we wanted something that would be secure, safe, and portable so they could move her from room to room to keep a watchful eye on potential apena episodes. Everyone is very pleased with the construction and portability.  Price was very reasonable as well.
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R1NK59CFBS8DFH/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R1NK59CFBS8DFH.2115.Helpful.Reviews"></a>
<span id="cr-vote-R1NK59CFBS8DFH">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R1NK59CFBS8DFH&quot;,&quot;reviewId&quot;:&quot;R1NK59CFBS8DFH&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1NK59CFBS8DFH/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=5D56B182A4A09511877F080A0A276451C07C30E4&amp;voteAnchorName=R1NK59CFBS8DFH.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1NK59CFBS8DFH/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=B7DA460B2FFCBD4152E0E91A1500C9014A73ADCA&amp;voteAnchorName=R1NK59CFBS8DFH.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1NK59CFBS8DFH/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=205A77BF6D658A959CFF6CD6E9414EAA3CAD48A4&amp;voteAnchorName=R1NK59CFBS8DFH.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>

<div id="rev-dpReviewsMostHelpfulAUI-R1C5T79XGCY9IH" class="a-section"><div class="a-row a-spacing-micro"><div class="a-icon-row a-spacing-none"><a class="a-link-normal a-text-normal a-color-base" title="5.0 out of 5 stars" href="http://www.amazon.com/review/R1C5T79XGCY9IH/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><i class="a-icon a-icon-star a-star-5"></i></a><span class="a-letter-space"></span><a class="a-link-normal a-text-normal a-color-base" href="http://www.amazon.com/review/R1C5T79XGCY9IH/ref=cm_cr_dp_title?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products"><span class="a-size-base a-text-bold">It is sturdy enough to place a small blanket over to enhance ...</span></a></div><span class="a-color-secondary">






  <span class="a-size-normal">
    <span class="a-color-secondary">
      By
    </span>
    <a href="/gp/pdp/profile/A1XNKUVF0U36XZ/ref=cm_cr_dp_pdp" class="noTextDecoration">Christopher Beach</a>
  </span>
<span class="a-color-secondary"> on September 28, 2014</span></span></div><div id="revData-dpReviewsMostHelpfulAUI-R1C5T79XGCY9IH" class="a-row a-spacing-small"><span class="a-size-mini a-color-state a-text-bold">
    Verified Purchase
  </span>





<div class="a-section">
  This is well built. Simple to break down. We have take three trips with this and is has preformed flawlessly. The mesh works well to provide adequate ventilation while still affording somewhat of a barrier. It is sturdy enough to place a small blanket over to enhance the baby's privacy to help sleeping.  Yes the padding for the mattress area is pretty much non existent ...as in my opinion it should be. Everyone's needs are likely very different. I'd rather shop for my own and keep the price low.  Much like buying a mattress for a bed that would cost more, but they would come with pre-selected sheets that may or may not work for you.
</div>

</div>







<a class="a-link-normal comment-link" title="0" href="http://www.amazon.com/review/R1C5T79XGCY9IH/ref=cm_cr_dp_cmt?ie=UTF8&amp;ASIN=B00AWMP876&amp;nodeID=165796011&amp;store=baby-products#wasThisHelpful">Comment</a>
<i class="a-icon a-icon-text-separator"></i>









<a id="R1C5T79XGCY9IH.2115.Helpful.Reviews"></a>
<span id="cr-vote-R1C5T79XGCY9IH">
  <span class="cr-vote-buttons">
    Was this review helpful to you?
    <span class="a-letter-space"></span>
    <span class="a-declarative" data-action="cr-vote" data-cr-vote="{&quot;rootComponentId&quot;:&quot;#cr-vote-R1C5T79XGCY9IH&quot;,&quot;reviewId&quot;:&quot;R1C5T79XGCY9IH&quot;}" style="display: inline">
      <span class="a-button a-button-beside-text a-button-small yesButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1C5T79XGCY9IH/Helpful/1/ref=cm_cr_dp_voteyn_yes?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=C3985F077E5D3808C01B5F8A6DA7B14700C75C96&amp;voteAnchorName=R1C5T79XGCY9IH.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="Yes" class="a-button-text a-text-center" role="button">Yes </a></span></span><span class="a-button a-button-beside-text a-button-small noButton votingButtonReviews"><span class="a-button-inner"><a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1C5T79XGCY9IH/Helpful/-1/ref=cm_cr_dp_voteyn_no?ie=UTF8&amp;target=aHR0cDovL3d3dy5hbWF6b24uY29tL2dwL3Byb2R1Y3QvQjAwQVdNUDg3Ni9yZWY9Y21fY3JfZHB2b3RlcmRy&amp;token=A1B261BABDED9610675658142D63DB40589324C1&amp;voteAnchorName=R1C5T79XGCY9IH.2115.Helpful.Reviews&amp;voteSessionID=188-6941834-2924249" title="No" class="a-button-text a-text-center" role="button">No</a></span></span>
    </span>
  </span>
  <span class="a-hidden cr-vote-feedback">
    Sending feedback...
  </span>
  <div class="a-box a-alert-inline a-alert-inline-success a-hidden cr-vote-success"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
  Thank you for your feedback.
  <span class="a-color-base a-hidden cr-vote-inapp">
    If this review is inappropriate, <a href="http://www.amazon.com/gp/voting/cast/Reviews/2115/R1C5T79XGCY9IH/Inappropriate/1/ref=cm_cr_dp_abuse_voteyn?ie=UTF8&amp;target=&amp;token=0E6EEA16C324C9E0BCE54FACC95520702CE7BAC6&amp;voteAnchorName=R1C5T79XGCY9IH.2115.Inappropriate.Reviews&amp;voteSessionID=188-6941834-2924249" class="noTextDecoration" style="color: #039;">please let us know.</a>
        </span>
  </div></div></div>
  <div class="a-box a-alert-inline a-alert-inline-error a-hidden cr-vote-error"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    Sorry, we failed to record your vote. Please try again
  </div></div></div>
</span>



</div>










</div>