extends layout

block content

  div.content-wrapper
    div.image-col
      .image-wrapper
        img(src="#{keyword.imageUrl}" alt="#{keyword.title}")
    div.content-col
      h1
        =keyword.title
      h2
        =keyword.description

      .badges
        .star
          =keyword.star
          |&nbsp; out of 5
        if keyword.freeshipping == true
          span.badge.freeshipping Free Shipping!
        if keyword.fastshipping == true
          span.badge.fastshipping One Day Shipping!
        .go
          a(href="/go/#{keyword.permalink}" ref="nofollow")
            button
              | See it!
      p
        =keyword.content

  div.related
    .related-wrapper
      h3
        | Related:
  include related.jade


  div#disqus_thread

block disqus
  | <script type="text/javascript">
  |      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  |      var disqus_shortname = 'nozama'; // required: replace example with your forum shortname|
  |      var disqus_identifier = '#{keyword._id}';
  |      /* * * DON'T EDIT BELOW THIS LINE * * */
  |      (function() {
  |          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  |          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  |          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  |      })();
  |</script>
  |  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

