doctype html
html
  head
    title= title
    meta(name='description' content='#{description}')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Questrial', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400', rel='stylesheet', type='text/css')

  body
    header.navigation
      .navigation-wrapper
        a.logo(href='/')
          img(src='#{logo}', alt='#{title}')
        a#js-mobile-menu.navigation-menu-button(href='') MENU
        .nav
          ul#navigation-menu
            li.nav-link
              a(href='/new-releases') New Releases
            li.nav-link
              a(href='/recent-update') Recent Update
            li.nav-link
              a(href='/contact-us') Contact
        .navigation-tools
          .search-bar
            .search-and-submit
              form(method="GET", action="/search")
                input(type='search', placeholder='Enter Search', name="q")
                button(type='submit')
                  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png', alt='Search Icon')
          a.sign-up(href='javascript:void(0)') Sign Up

    block content

    footer.footer-2
      .footer-logo
        a(href='/')
          img(src='#{logo}', alt='Logo image')
      ul
        li
          a(href='/about-us') About
        li
          a(href='/contact-us') Contact
        li
          a(href='/new-release') Products
      .footer-secondary-links
        ul
          li
            a(href='/tos') Terms and Conditions
          li
            a(href='/privacy') Privacy Policy
        ul.footer-social
          li
            a(href='javascript:void(0)')
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png', alt='Facebook')
          li
            a(href='javascript:void(0)')
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='Twitter')
          li
            a(href='javascript:void(0)')
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='YouTube')

    block disqus
