extends layout

block content
  div.outer
    div.sidebar
      h4 Recent Products
      ul
        each keyword in keywords
          li
            a(href='/'+keyword.permalink)
              | >&nbsp;
              =keyword.title
    div.main
      h1= title
      h2 Welcome to #{title}
      p= description
      include list.jade