extends layout
block content
  .intro-text
    h3 Privacy Policy
    .privacy-text
      h2 Privacy Policy
      p.statement
        | Your privacy is critically important to us. At Nozama we have a few fundamental principles:
      ul
        li
          | We don’t ask you for personal information unless we truly need it. (We can’t stand services that ask you for things like your gender or income level for no apparent reason.)
        li
          | We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
        li
          | We don’t store personal information on our servers unless required for the on-going operation of one of our services.
        li
          | In our blogging products, we aim to make it as simple as possible for you to control what’s visible to the public, seen by search engines, kept private, and permanently deleted.
      p
        | If you have questions about deleting or correcting your personal data please contact our&nbsp;
        a(href='/contact-us') support team
        | .
      p
        | Nozama Inc. (“
        strong Nozama
        | ”) operates several websites including&nbsp;
        a(href='http://nozama.io/') Nozama.io
        | . It is Nozama’s policy to respect your privacy regarding any information we may collect while operating our websites.

      h3 Website Visitors
      p
        | Like most website operators, Nozama collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Nozama’s purpose in collecting non-personally identifying information is to better understand how Nozama’s visitors use its website. From time to time, Nozama may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
      p
        | Nozama also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on WordPress.com blogs. Nozama only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below, except that blog commenter IP addresses and email addresses are visible and disclosed to the administrators of the blog where the comment was left.
      h3 Gathering of Personally-Identifying Information
      p
        | Certain visitors to Nozama’s websites choose to interact with Nozama in ways that require Nozama to gather personally-identifying information. The amount and type of information that Nozama gathers depends on the nature of the interaction.
        | Those who engage in transactions with Nozama – by purchasing access to the our services, for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Nozama collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Nozama. Nozama does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
      h3 Aggregated Statistics
      p
        | Nozama may collect statistics about the behavior of visitors to its websites. For instance, Nozama may monitor the most popular blogs on the WordPress.com site or use spam screened by the Akismet service to help identify spam. Nozama may display this information publicly or provide it to others. However, Nozama does not disclose personally-identifying information other than as described below.
      h3 Protection of Certain Personally-Identifying Information
      p
        | Nozama discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Nozama’s behalf or to provide services available at Nozama’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Nozama’s websites, you consent to the transfer of such information to them. Nozama will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Nozama discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Nozama believes in good faith that disclosure is reasonably necessary to protect the property or rights of Nozama, third parties or the public at large. If you are a registered user of an Nozama website and have supplied your email address, Nozama may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Nozama and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Nozama takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
      h3 Cookies
      p
        | A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Nozama uses cookies to help Nozama identify and track visitors, their usage of Nozama website, and their website access preferences. Nozama visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Nozama’s websites, with the drawback that certain features of Nozama’s websites may not function properly without the aid of cookies.
      h3 Business Transfers
      p
        | If Nozama, or substantially all of its assets, were acquired, or in the unlikely event that Nozama goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Nozama may continue to use your personal information as set forth in this policy.
      h3 Ads
      p
        | Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Nozama and does not cover the use of cookies by any advertisers.
      h3 Comments
      p
        | Comments and other content submitted to our Akismet anti-spam service are not saved on our servers unless they were marked as false positives, in which case we store them long enough to use them to improve the service to avoid future false positives.
      h3 Privacy Policy Changes
      p
        | Although most changes are likely to be minor, Nozama may change its Privacy Policy from time to time, and in Nozama’s sole discretion. Nozama encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have a WordPress.com account, you should also check your blog’s dashboard for alerts to these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
