
<a href="#/pr"><button class="btn btn-info">Back</button></a><br>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form role="form">

      <div class="form-group">
        <label for="content">Domain</label>
        <textarea class="form-control" ng-model="domains" rows="10"></textarea>
        <p class="help-block">url per line. No http:// </p>
      </div>


      <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="isSubmit">Submit</button>
    </form>
  </div>
</div>

