
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <a href="#/adddomain"><button class="btn">Add Domains</button></a>
    <button class="btn btn-warning" ng-click="delete()">Delete Selected</button>
    <br><br>
    <table class="table">
      <tr>
        <th><input type="checkbox" ng-change="checkall()" ng-model="isCheckAll" ></th>
        <th>URL</th>
        <th>PR</th>
      </tr>
      <tr ng-repeat="domain in domains | orderBy:'-pr'">
        <td>
          <input type="checkbox" ng-change="markDelete(domain)" ng-model="domain.status" value="{{domain._id}}">
        </td>
        <td>
          {{domain.url}}
        </td>
        <td>
          {{domain.pr || '0'}}
        </td>
      </tr>
    </table>
  </div>
</div>
