<form role="form">
  <div class="form-group col-sm-8">
    Username: {{user.username}}
  </div>
  <div class="form-group col-sm-8">
    <label for="email">Email</label>
    <input type="text" class="form-control col-sm-3" placeholder="Enter Email" ng-model="user.email">
    <p class="help-block">Your email e.g. johnc@email.com</p>
    <button type="button" class="btn btn-default" ng-click="saveEmail()">Save</button>
  </div>
  <div class="form-group col-sm-8">
    Package: {{user.package}}
    <span ng-show="user.package == 'standard'"><a href="#/upgrade">Upgrade Now</a></span>
  </div>
  <div class="form-group col-sm-8">
    Payment Term: {{user.term}}
  </div>
  <div class="form-group col-sm-8">
    Next Due Date: {{user.dueDate | date: shortDate}}
  </div>
  <div class="form-group col-sm-8">
    <label for="trackingId">Tracking ID</label>
    <input type="text" class="form-control col-sm-3" placeholder="Enter Tracking ID" ng-model="trackingId">
    <p class="help-block">Amazon Tracking ID e.g. googhydr-20</p>
    <button type="button" class="btn btn-default" ng-click="saveTracking()">Save</button>
  </div>
  <div class="form-group col-sm-8">
    <label for="password">Password</label>
    <input type="password" class="form-control col-sm-3" placeholder="Enter Password" ng-model="password1">
  </div>
  <div class="form-group col-sm-8">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" class="form-control col-sm-3" placeholder="Confirm Password" ng-model="password2">

  </div>
  <div class="form-group col-sm-8">
    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
  </div>

</form>