
<form role="form">
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <a href="#/network"><button class="btn btn-info">Back</button></a><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Network URL</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter URL" ng-model="network.url">
      <p class="help-block">Example: www.google.com</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Username</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Username" ng-model="network.username">
      <p class="help-block">Wordpress username</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Password</label>
      <input type="password" class="form-control col-sm-3" placeholder="Enter Password" ng-model="network.password">
      <p class="help-block">Wordpress password</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>

</form>