
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <a href="#/networkDetail"><button class="btn">Add Network</button></a><br><br>
    <table class="table">
      <tr>
        <th>URL</th>
        <th>Detail</th>
      </tr>
      <tr ng-repeat="network in networks">
        <td>
          {{network.url}}
        </td>
        <td>
          <a href="#/network/{{network._id}}"><button class="btn">Edit</button></a>
          <button class="btn btn-warning" ng-click='delete(network)'>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
