<div class="row">
  <div class="col-md-4">
    <div class="form-group col-sm-8">
      Website:
      <select class="form-control" ng-model="website" ng-options="website.url for website in websites">
        <option value="">-- choose website --</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h2>Main Category</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="category in categories">
        <a ng-click="open(category)">{{category.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <h2>Sub Category</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="category in subcategories">
        <a ng-click="openSubcategory(category)">{{category.name}}</a>
      </li>
    </ul>

  </div>
  <div class="col-md-8">

    <h3>
      Current: <a ng-click="open(currentCategory)">{{currentCategory.name}}</a>
    </h3>
    <h4>
      Sub Category:
      <a ng-click="refreshKeyword(currentSubcategory)">{{currentSubcategory.name}}</a>
    </h4>
    <button class="btn btn-success" ng-click="gen()">Auto Post!</button> <button ng-click="refreshCache()" class="btn">Clear Cache</button>
    <table class="table">
      <tr>
        <th>ASIN</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Competitors</th>
      </tr>
      <tr ng-repeat="keyword in keywords">
        <td>
          {{keyword.asin}}
          <br>
          <!-- <img ng-src="{{keyword.imageUrl}}"> -->
        </td>
        <td>
          <input type="text" ng-model="keyword.keyword" class="form-control">
          <br> {{keyword.title}}
          <br>
          <button class="btn btn-info" ng-click="research(keyword)">Research</button>
          <button class="btn btn-success" ng-click="saveKeyword(keyword)">Save</button>
          <label class="label label-success" ng-show="keyword.saved">saved</label>
        </td>
        <td>
          <span class="label label-info" ng-if="keyword.fastshipping">Fast Shipping</span>
          <br>
          <span class="label label-success" ng-if="keyword.freeshipping">FREE Shipping</span>
          <br>{{keyword.star}} out of 5 Stars
          <br>{{keyword.price}}
        </td>
        <td>
          Google: <span class="label label-warning">{{keyword.googleResults}}</span>
        </td>
      </tr>
    </table>
    <nav ng-show="(user.status==='admin' || premium) && page">
      <ul class="pagination">
        <li ng-show="page.prev"><a ng-click="prevPage()"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a>
        </li>
        <!-- <li><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li> -->
        <li ng-show="page.next"><a ng-click="nextPage()"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
