
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <button class="btn" ng-click="createpost()">Create Posts</button>
    <div class="col-sm-3">
    <input type="text" class="form-control col-sm-3" placeholder="ASIN" ng-model="asin">
  </div>
    <br><br>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Detail</th>
      </tr>
      <tr ng-repeat="post in posts">
        <td>
          {{post.title}}
        </td>
        <td>
          <button class="btn btn-warning" ng-click='delete(post)'>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
