
<form role="form">
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <a href="#/icon"><button class="btn btn-info">Back</button></a><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="name">Icon Name</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Name" ng-model="icon.name">
      <p class="help-block">Example: Baby</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Icon URL</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter URL" ng-model="icon.url">
      <p class="help-block">Example: www.google.com</p><br>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="attribution">Attribution</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Attibution" ng-model="icon.attribution">
      <p class="help-block">Creative Common Attribution</p><br>
    </div>
  </div>
  <!-- <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <label for="url">Tracking ID</label>
      <input type="text" class="form-control col-sm-3" placeholder="Enter Description" ng-model="website.trackingId">
      <p class="help-block">Amazon Tracking ID e.g. googhydr-20</p><br>
    </div>
  </div> -->
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-1">
      <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>

</form>