
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <a href="#/iconDetail"><button class="btn">Add Icon</button></a><br><br>
    <table class="table">
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Detail</th>
      </tr>
      <tr ng-repeat="icon in icons">
        <td>
          <img ng-src="{{icon.url}}">
        </td>
        <td>
          {{icon.name}}
        </td>
        <td>
          <a href="#/icon/{{icon._id}}"><button class="btn">Edit</button></a>
          <button class="btn btn-warning" ng-click='delete(icon)'>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
