extends layout

block content
  //- .hero
  //-   .hero-inner
  //-     a.hero-logo(href='')
  //-       img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo Image')
  //-     .hero-copy
  //-       h1 &nbsp;
  //-       p
  //-         | A few reasons why this product is worth using, who it's for and why they need it.
  //-     button Learn More

  div.outer
    div.sidebar
      h4 Recent Products
      ul
        each keyword in keywords
          li
            a(href='/'+keyword.permalink)
              | >&nbsp;
              =keyword.title
    div.main
      h1= title
      h2 Welcome to #{title}
      p= description
      include list.jade
