block content
  .cards
    each keyword in keywords
      .card
        .card-image
          img(src=keyword.imageUrl, alt='')
        .card-header
          a(href='/'+keyword.permalink)=keyword.title
        .card-copy
          p=keyword.platform
        .card-stats
          ul
            li
              =keyword.star
              span stars
            if  keyword.freeshipping
              li
                span Free Shipping!
            li
              a(href='/'+keyword.permalink)
                span
                  button
                    | Detail
