
<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    Upgrade to Premium. <a href="/pricing">See why?</a><br>
    <a href="/upgrade?term=monthly"><button class="btn btn-success">Upgrade Now!</button></a>
    <br><br>
    or Upgrade and Pay annually to get 10% off!<br>
    <a href="/upgrade?term=yearly"><button class="btn btn-success">Upgrade Now!</button></a>
  </div>
</div>
